agender_venv/
__pycache__/
.Rproj.user
.Rhistory
.RData
.Ruserdata
*checkpoint*
!ui/agender_ui/login_signup/migrations/
ui/agender_ui/login_signup/migrations/*
!ui/agender_ui/login_signup/migrations/__init__.py
cropped_image*
resized_image*
venv_test/