{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>Form</title>
    <script></script>
</head>
<style>
    body {
        text-align: center;
        background-color: #6b8bd4;
        font-family: 'Oswald', sans-serif;
    }
    
    button {
        size: 20px;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        border-radius: 20px;
    }
</style>

<body>
    <h1>
		{% for field in fields %}
			{% if field.field_name == 'generator_title' %}
				{% for i in field.label %}
					{{i.label_name}}
					<br><br>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</h1>

	{% for field in fields %}
		{% if field.field_name != 'generator_title' %}
			{% if field.tag == "label" %}
				<strong><p>{{field.field_name}}</p></strong>
			{% endif %}
		{% endif %}


		{% if field.tag == 'checkbox' %}
			<strong><p>{{field.field_name}}</p></strong>
			{% for l in field.label %}
				<input class="form-check-input" type={{field.tag}} name={{field.field_name}}>
				<label class="form-check-label" for={{l.label_name}}>{{l.label_name}}</label>
				<br>
			{% endfor %}
		{% endif %}

		{% if field.tag == 'radio' %}
			<strong><p>{{field.field_name}}</p></strong>
			{% for l in field.label %}
				<input class="form-check-input" type={{field.tag}} name={{field.field_name}}>
				<label class="form-check-label" for={{l.label_name}}>{{l.label_name}}</label>
				<br>
			{% endfor %}
		{% endif %}

		{% if field.tag == 'verify_image' %}
			<strong><p>Enter Gender</p></strong>
			<input class="form-check-input" type="radio" name="Gender">
			<label class="form-check-label" for="male">Male</label>
			<br>

			<input class="form-check-input" type="radio" name="Gender">
			<label class="form-check-label" for="female">Female</label>
			<br><br>

			<label for="age">Age:</label>
			<input type="text" name="age">
			<br><br>
			
			<button class="btn btn-dark" type="submit">Verify Image</button>
			<br><br>
			
		{% endif %}

		{% if field.tag == 'text' %}
			<label for={{field.field_name}}>{{field.field_name}}</label>
			<input type="text" name={{field.field_name}}>
		{% endif %}
	{% endfor %}


</body>

</html>
