
{% extends "base.html" %}


{% block content %}
	<h1 class="text-center">Basic Dashboard</h1>
	<br>
	<div class="row ml-5">
		<div class="col">
			<form method="POST" action="/logout">
				{% csrf_token %}
				<input class='btn btn-success btn-lg center' name="logout" 
				id="logout" type="submit" value="Logout">
			</form>
		</div>
		<div class="col">
			<input class='btn btn-success btn-lg center' name="builder" 
				id="builder" type="submit" value="Form Builder">
		</div>
		<div class="col">
			<input class='btn btn-primary btn-lg center' name="form" 
				id="form" type="submit" value="Form">
		</div>
		<div class="col">
			<input class='btn btn-primary btn-lg center' name="webcam" 
				id="webcam" type="submit" value="WebCam">
		</div>
	</div>

	
{% endblock content %}

