{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>User Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'styles/style2.css' %}">
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">User Dashboard</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>#</th>
						      <th>Form Name</th>
						      <th>Copy Link</th>
							  <th>Download Link</th>
						    </tr>
						  </thead>
						  <tbody>
							  {% for name, id in dash_data %}
						    <tr>
						      <th scope="row">{{forloop.counter}}</th>
						      <td> <a href="#"> {{name}} </a></td>
						      <td><a href="#"  onclick="navigator.clipboard.writeText('http:\/\/127.0.0.1:8000/form/{{id}}')">Copy to Clipboard</a></td>
							  <td><a href="/download/{{id}}"> Download Responses </a></td>
						    </tr>
							{% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<br>
		<center>
			<a href="{% url 'builder' %}" class='btn btn-success btn-lg center'>
				Form Builder
			</a>
			<br><br>
			<form method="POST" action="/logout">
				{% csrf_token %}
				<input class='btn btn-success btn-lg center' name="logout" 
				id="logout" type="submit" value="Logout">
			</form>
		</center>
	</section>
	</body>
</html>
